HOST=127.0.0.1
PORT=8000
REFRESH_SECONDS=10
HIDE_DUST_THRESHOLD=1
HTTP_TIMEOUT=12
RPC_RETRY_PER_ENDPOINT=2
RPC_RETRY_SLEEP_SECONDS=0.35
MAX_RPC_ERROR_DISPLAY=4
DATA_API_BASE=https://data-api.polymarket.com
USDC_E_CONTRACT=0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174
POLYGON_RPC_URLS=https://polygon.drpc.org,https://tenderly.rpc.polygon.community,https://polygon.publicnode.com,https://1rpc.io/matic,https://polygon.api.onfinality.io/public,https://rpc.ankr.com/polygon,https://polygon-rpc.com
ADDRESSES_JSON=[{"name":"主号","address":"0x1111111111111111111111111111111111111111"},{"name":"副号","address":"0x2222222222222222222222222222222222222222"}]
